<h1>Curso básico de Angular 15</h1>

<!--<app-tema01-data-binding></app-tema01-data-binding>-->
<!-- <app-tema02-comunicacion-componentes></app-tema02-comunicacion-componentes> -->
<!-- <app-tema03-directivas></app-tema03-directivas> -->

<!-- <app-tema04-referencias></app-tema04-referencias> -->
<!-- <app-tema05-pipes></app-tema05-pipes> -->
<!-- <app-tema06-formularios></app-tema06-formularios> -->
<!-- <app-tema07-servicios></app-tema07-servicios> -->
<!-- <app-tema08-observables></app-tema08-observables> -->

<app-tema09-http></app-tema09-http>