<!-- <h3>Plantilla</h3>

<form (ngSubmit)="registro(#form)" #form="ngForm"> crear el evento para que haga el submit  
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" [ngModel]="formData.nombre" required>
    </div>

    <div>
        <label for="email">Email: </label>
        <input type="text" id="email"  name="email"[ngModel]="formData.email" required>
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="text" id="password"  name="password"[ngModel]="formData.password" required minlength="7" nginputPW="ngModel">
    </div>

    <button type="submit" >Registro</button>

   Si el ngModel es usado en un formulario hay que poner el atributo name 
</form> -->