<h2>Tema 09: Http</h2>

<div>
  <input type="text" [(ngModel)]="searchBy">
  <button type="button" (click)="search()">Search cocktails</button>
</div>

<hr>

<h3>Cocktails</h3>
<ul>
  <li *ngFor="let drink of cocktails">
    <img [src]="drink.strDrinkThumb" [alt]="drink.strDrink" width="100">
    <span>{{drink.strDrink}}</span>
    <button type="button" (click)="guardar(drink)">Guardar como favorito</button>
  </li>
</ul>

<h3>Favorite cocktails</h3>
<ul>
  <li *ngFor="let drink of favCocktails">
    <img [src]="drink.strDrinkThumb" [alt]="drink.strDrink" width="100">
    <span>{{drink.strDrink}}</span>
    <button type="button" (click)="eliminar(drink)">Eliminar de mis favoritos</button>
  </li>
</ul>
